var config = {
	api_siks_url : "https://api.kemensos.go.id/", // alamat aplikasi siks
	siks_url : "https://siks.kemensos.go.id/", // alamat aplikasi siks
	key_encrypt: "xxxx", // key encrypt param data dari siks-ng
	url_server_lokal : "https://xxxxx.com/wp-admin/admin-ajax.php", // url server lokal
	api_key : "xxxxxxxx", // api key server lokal
	token : "xxxxx", // token ajax siks untuk authorization
	user : "xxx", // username akun https://siks.kemensos.go.id/ | tidak wajib
	password : "xxx", // password akun https://siks.kemensos.go.id/ | tidak wajib
	otp : "xxx", // OTP bisa dipakai berkali-kali | tidak wajib
	pusher_id: "", // dari https://pusher.com/ | tidak wajib
	cluster: "" // dari https://pusher.com/ | tidak wajib
};